body {
  margin: 0;
 padding:0;
    font-family: sans-serif;
    background: #46529d;
    color:white;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.text-center{
    
    text-align: center;
}


.container{
    
    width:60%;
    margin: 10% auto;
}




.ListItems{
    
    background: white;
    color:#46529d;
}
.ListItems p{
    
    margin: 0;
    text-align: center;
    padding: 10px 0px;
    
}

.ListItems span{
    
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size:20px;
    border: 0.3px solid #ccc;
}

.ListItems span.title{
    
    background: #2ebaee;
    color: white;
}

.ListItems span.name, form input[type=text]{
    
    width:59%;
}


.ListItems span.age, form input[type=number]{
    
    width:30%;
}


.ListItems span.action, form input[type=submit]{
    
    width:10%;
}

form input{
    padding: 10px;
    background: white;
    border: transparent;
    border: 0.3px solid #ccc;
}


form input[type=submit]{

background: #2abaee;
    border: 0.3px solid #2abaee;
    color:#fff;
    cursor: pointer;
}
.ListItems span.icon{
    color:red;
    cursor: pointer;
}
input#name {
    width: 53%;
}

@media (max-width:768px){
.ListItems span.name, form input[type=text] {
    width: 47%;
}
    .ListItems span.action, form input[type=submit] {
    width: 22%;
        font-size: 19px;
}
    input#name {
    /* margin-top: -6%; */
    width: 28%;
    margin: 0;
    
}
    
}

@media (max-width:992px) and (min-width:769px){
input#name {
    width: 51%;
}
}